extends layout

block content
  if(!user)
    a(href="/register" class="btn btn-primary") Register
  .container
    .row.d-flex.justify-content-center.p-3
      .col-xs-4.text-center
        if(user)
          p= user.username
        h1 Hello 
    .row.d-flex.justify-content-center.p-3
      .col-xs-4.text-center
        form(method="post" action="/login").m-5
          .form-group
            input(type="text" name="username" class="form-control")
          .form-group
            input(type="text" name="password" class="form-control")
          .form-group
            input(type="submit" class="btn btn-primary" value="Login")
          .form-group
            a(href="/auth/google" class="btn btn-danger") Google